/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * Maquis implementation : © Michał Delikat michal.delikat0@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * maquis.css
 *
 * Maquis stylesheet
 *
 */

html[data-theme="light"] {
    --mq-bg-color: #f9f4d3;
    --mq-bd-color: black;

    --mq-mission-location-color: #3B6D11;
    --mq-mission-item-color: #185FA5;
    --mq-mission-morale-color: #534AB7;
    --mq-mission-soldier-color: #993C1D;
}

html[data-theme="dark"] {
    --mq-bg-color: #2b2719;
    --mq-bd-color: white;

    --mq-mission-location-color: #97C459;
    --mq-mission-item-color: #85B7EB;
    --mq-mission-morale-color: #AFA9EC;
    --mq-mission-soldier-color: #F0997B;
}

/* Player Area */

.current_player_is_active #page-title, .gamestate_gameEnd #page-title, #page-title {
    min-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--mq-bg-color);
}

#game_play_area {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.player-board {
    background-color: var(--mq-bg-color);
}

#custom-player-board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
}

#resources {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 8px;
    width: 340px;
}

@media (min-width: 770px) {
    #resources {
        width: 690px;
    }
}

.maq_resource-box {
    display: flex;
    align-items: center;
    gap: 4px;
}

.maq_resource-amount {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}

.maq_resource-icon {
    position: relative;
    width: 50px;
    aspect-ratio: 1;
    background-size: 300%;
    background-image: url('img/Tokens.png');
    background-position-y: center;
    z-index: 1;
}

.maq_resource-icon-circle {
    position: absolute;
    border-radius: 50%;
    border: 3px solid black;
    width: 90%;
    height: 90%;
}

/* Layout */

.maq_whiteblock {
    background: rgba(255, 255, 255, 0.45);
    border: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 6px;
    padding: 6px 12px;
    margin: 0;
}

.maq_whiteblock-label {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 500;
    margin-top: 0;
}

#board-and-missions {
    width: 100%;
}

@media (min-width: 1400px) {
    #board-and-missions {
        width: 55%;
    }
}

#top-area {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 8px;
}

@media (min-width: 1400px) {
    #top-area {
        margin-right: 0;
    }
}

#arrest {
    box-sizing: border-box;
    align-self: stretch !important;
    width: 21%;
    display: flex;
    flex-direction: column;
}

#arrest-spaces-wrapper {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.maq_arrest-space {
    width: 45%;
    height: 33%;
    display: flex;
    justify-content: center;
}

.maq_mission-slot {
    width: 25%;
    bottom: 0;
    perspective: 1000px;
    display: flex;
    justify-content: center;
}

#barracks-boxes-wrapper {
    width: 25%;
    align-self: stretch !important;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.maq_barracks {
    box-sizing: border-box;
    height: 48%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.maq_patrol-units-row {
    width: 100%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.maq_patrol-unit-barracks-space {
    width: 33%;
    height: 50%;
    display: flex;
    justify-content: center;
}

/* Right panel */

#right-panel {
    width: 100%;
}

@media (min-width: 1400px) {
    #right-panel {
        width: 45%;
    }
}

#right-panel-top {
    display: flex;
    justify-content: space-evenly;
    margin: 32px 16px;
}

#right-panel-top > * {
    width: 25%;
}

#morale-and-soldiers-track {
    background-size: cover;
    background-image: url('img/Tracking_card_Patrol_back.jpg');
    position: relative;
}

#morale-track, #soldiers-track {
    position: absolute;
    left: 7.5%;
    width: 85.7%;
    aspect-ratio: 2.05;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 13% 4%;
}

#morale-track {
    top: 17.5%;
}

#soldiers-track {
    top: 62.5%;
}

.maq_morale-track-space, .maq_soldiers-track-space {
    display: flex;
    justify-content: center;
    align-items: center;
}

#marker-morale {
    background-position-x: 5.7%;
}

#marker-soldiers {
    background-position-x: 92.7%;
}

#patrol-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#patrol-deck {
    background-size: cover;
    background-position-x: right;
    background-image: url('img/Tracking_card_Patrol_back.jpg');
}

#patrol-discard {
    padding: 0;
    cursor: pointer;
}

#room-tiles {
    box-sizing: border-box;
    width: 55%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 1vw;
    row-gap: 1vw;
}

/* Board */

#board {
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 1.43;
    background-size: contain;
    background-image: url('img/Board.jpg');
    position: relative;
    border: 2px solid black;
}

.maq_space {
    z-index: 2;
    position: absolute;
}

.maq_board-space {
    width: 14%;
    aspect-ratio: 1;
}

#room-tiles-container-wrapper {
    display: flex;
    justify-content: center;
}

.maq_room-tile-space {
    position: absolute;
    width: 100%;
    height: 100%;
}

.maq_token-spaces {
    position: absolute;
    right: 0;
    top: 5%;
    width: 35%;
    height: 100%;
}

.maq_token-space {
    z-index: 4;
    width: 100%;
    height: 25%;
}

.maq_worker-space {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maq_background-space {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

.maq_board-space > .maq_background-space {
    border-radius: 50%;
}

.maq_board-space .maq_marker-space {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maq_bridge-space {
    position: absolute;
    width: 6%;
    aspect-ratio: 1;
    border-radius: 50%;
}

.maq_bridge-space .marker-space {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


:is(.maq_available-space, .maq_space-with-available-worker, .maq_space-with-worker-to-remove, .maq_space-with-milice, .maq_space-with-bridge-to-remove) {
    cursor: pointer;
    opacity: 0.5;
}

.maq_available-space {
    background-color: #EAF3DE;
    border-color: #639922;
}

.maq_available-space:hover {
    background-color: #C0DD97;
    border-color: #3B6D11;
} 

.maq_space-with-available-worker {
    background-color: #E6F1FB;
}

.maq_space-with-available-worker:hover {
    background-color: #B5D4F4;
}

.maq_active-space {
    background-color: #85B7EB;
    opacity: 0.5;
}

.maq_space-with-milice {
    background-color: #FAECE7;
}

.maq_space-with-milice:hover {
    background-color: #F5C4B3;
}

.maq_space-with-worker-to-remove {
    background-color: #EEEDFE;
}

.maq_space-with-worker-to-remove:hover {
    background-color: #CECBF6;
}

.maq_space-with-bridge-to-remove {
    background-color: #FAEEDA;
    border: 3px solid #BA7517;
    opacity: 0.75;
}

.maq_space-with-bridge-to-remove:hover {
    background-color: #FAC775;
    border: 3px solid #854F0B;
}

#dark-lady-location {
    width: 100%;
    aspect-ratio: 1;
    border: rgba(2, 212, 51, 0.5) 5px solid;
    position: absolute;
    top: -3%;
    left: -3%;
    border-radius: 100%;
}

#round-number-spaces {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 3.15%;
    left: 3.1%;
    width: 2.5%;
    height: 93.5%;
}

.maq_round-number-space {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-items: center;
}

#marker-round {
    background-position-x: 35.5%;
    width: 100%;
}

#space-1 {
    left: 9%;
    top: 14%;
}

#space-2 {
    left: 28.3%;
    top: 3%;
}

#space-3 {
    left: 52.5%;
    top: 2.7%;
}

#space-4 {
    left: 78.15%;
    top: 4.1%;
}

#space-5 {
    left: 26.1%;
    top: 27.4%;
}

#space-6 {
    left: 44.1%;
    top: 26.2%;
}

#space-7 {
    left: 63.73%;
    top: 24.6%;
}

#space-8 {
    left: 82%;
    top: 29.5%;
}

#space-9 {
    left: 8.9%;
    top: 40.2%;
}

#space-10 {
    left: 24.9%;
    top: 52.2%;
}

#space-11 {
    left: 44.4%;
    top: 51.4%;
}

#space-12 {
    left: 63.5%;
    top: 50.5%;
}

#space-13 {
    left: 82%;
    top: 55.5%;
}

#space-14 {
    left: 10.5%;
    top: 74.2%;
}

#space-15 {
    left: 32%;
    top: 75.4%;
}

#space-16 {
    left: 50.6%;
    top: 75.3%;
}

#space-17 {
    left: 69.5%;
    top: 76%;
}

#space-24 {
    left: 62%;
    top: 19%;
}

#space-25 {
    left: 57.7%;
    top: 30%;
}

.maq_safe-house-space {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maq_cafe-spaces {
    width: 9%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 6%;
    left: 33%;
}

.maq_cafe-space {
    width: 3vw;
    aspect-ratio: 1;
}

/* Cards */

.maq_card {
    width: 100%;
    aspect-ratio: 0.715;
    border-radius: 10px;
    background-repeat: no-repeat;
    border: 2px solid var(--mq-bd-color);
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.maq_flipped {
    transform: rotateY(180deg);
}

/* Mission Card */

.maq_mission-description {
    padding: 16px;
}

.maq_mission-token-space {
    position: absolute;
    right: 33%;
    top: 20%;
}

.maq_mission-card-front, .maq_mission-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
}

.maq_mission-card-back {
    transform: rotateY(180deg);
}

.maq_mission-space > .maq_marker-space {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.maq_mission-space > .maq_marker-space > * {
    position: relative;
    top: 15%;
    left: 25%;
    width: 50%;
    height: 50%;
}

.maq_mission-space {
    width: 26.7%;
    height: 14%;
}

.maq_mission-space > .maq_worker-space {
    top: -30%;
}

.maq_flipped > .maq_mission-space {
    display: none;
}

.maq_mission-flavour-text, .maq_mission-description-text {
    font-family: 'Courier New', Courier, monospace;
}

:is(.maq_mission-text-location-name, .maq_mission-text-item-name, .maq_mission-text-morale, .maq_mission-text-soldier) {
    font-weight: 600;
}

.maq_mission-text-location-name {
    color: var(--mq-mission-location-color);
}

.maq_mission-text-item-name {
    color: var(--mq-mission-item-color);
}

.maq_mission-text-morale {
    color: var(--mq-mission-morale-color);
}

.maq_mission-text-soldier {
    color: var(--mq-mission-soldier-color);
}

/* 0-star missions */

:is(#mission_card_milice_parade_day, #mission_card_officers_mansion) > .maq_mission-card-face {
    background-image: url('img/Mission_Cards_0star.jpg');
    background-size: 400%;
}

:is(#mission_card_milice_parade_day, #mission_card_officers_mansion) > .maq_mission-card-back {
    background-position-x: 66.7%;
}

#mission_card_milice_parade_day > .maq_mission-card-front {
    background-position-x: 0;
}

#mission_card_officers_mansion > .maq_mission-card-front {
    background-position-x: 33.3%;
}

#mission_card_officers_mansion > .maq_mission-space-1 {
    left: 65%;
    top: 50%;
}

#mission_card_officers_mansion > :is(.maq_mission-space-2, .maq_mission-space-3) {
    display: none;
}

/* 1-star missions */

:is(#mission_card_sabotage, #mission_card_underground_newspaper, #mission_card_infiltration, #mission_card_german_shepards, #mission_card_double_agent) > .maq_mission-card-face {
    background-image: url('img/Mission_Cards_1star.jpg');
    background-size: 300%;
}

:is(#mission_card_sabotage, #mission_card_underground_newspaper, #mission_card_infiltration, #mission_card_german_shepards, #mission_card_double_agent) > .maq_mission-card-back {
    background-position: 100% bottom;
}

#mission_card_underground_newspaper > .maq_mission-card-front {
    background-position-x: 50%;
}

#mission_card_infiltration > .maq_mission-card-front {
    background-position-x: 100%;
}

:is(#mission_card_german_shepards, #mission_card_double_agent) > .maq_mission-card-face {
    background-position-y: bottom;
}

#mission_card_double_agent > .maq_mission-card-front {
    background-position-x: center;
}

:is(#mission_card_sabotage, #mission_card_underground_newspaper, #mission_card_german_shepards) > .maq_mission-space {
    top: 50%;
}

:is(#mission_card_sabotage, #mission_card_underground_newspaper, #mission_card_german_shepards) > .maq_mission-space-1 {
    left: 7.5%;
}

:is(#mission_card_sabotage, #mission_card_underground_newspaper, #mission_card_german_shepards) > .maq_mission-space-2 {
    left: 36%;
}

:is(#mission_card_sabotage, #mission_card_underground_newspaper, #mission_card_german_shepards) > .maq_mission-space-3 {
    left: 66%;
}

#mission_card_infiltration > :is(.maq_mission-space-1, .maq_mission-space-2) {
    top: 50%;
}

#mission_card_infiltration > .maq_mission-space-1 {
    left: 22%;
}

#mission_card_infiltration > .maq_mission-space-2 {
    left: 51%;
}

#mission_card_infiltration > .maq_mission-space-3 {
    display: none;
}

#mission_card_german_shepards > .maq_mission-space {
    top: 13%;
}

/* 2-star missions  */

:is(#mission_card_aid_the_spy, #mission_card_assassination, #mission_card_destroy_the_train, #mission_card_liberate_the_town, #mission_card_coded_messages, #mission_card_take_out_the_bridges, #mission_card_bomb_for_the_officer) > .maq_mission-card-face {
    background-image: url('img/Mission_Cards_2star.jpg');
    background-size: 400%;
}

:is(#mission_card_assassination, #mission_card_take_out_the_bridges) > .maq_mission-card-front {
    background-position-x: 33%;
}

:is(#mission_card_destroy_the_train, #mission_card_bomb_for_the_officer) > .maq_mission-card-front {
    background-position-x: 66.7%;
}

#mission_card_liberate_the_town > .maq_mission-card-front {
    background-position-x: 100%;
}

:is(#mission_card_coded_messages, #mission_card_take_out_the_bridges, #mission_card_bomb_for_the_officer) > .maq_mission-card-front {
    background-position-y: 100%;
}

:is(#mission_card_aid_the_spy, #mission_card_assassination, #mission_card_destroy_the_train, #mission_card_liberate_the_town, #mission_card_coded_messages, #mission_card_take_out_the_bridges, #mission_card_bomb_for_the_officer) > .maq_mission-card-back {
    background-position: 100% bottom;
}

#mission_card_aid_the_spy > :is(.maq_mission-space-1, .maq_mission-space-2) {
    top: 50%;
}

#mission_card_aid_the_spy > .maq_mission-space-1 {
    left: 22%;
}

#mission_card_aid_the_spy > .maq_mission-space-2 {
    left: 51%;
}

#mission_card_aid_the_spy > .maq_mission-space-3 {
    display: none;
}

#mission_card_destroy_the_train > .maq_mission-space-1 {
    top: 50%;
    left: 7%;
}

#mission_card_destroy_the_train > :is(.maq_mission-space-2, .maq_mission-space-3) {
    display: none;
}

#mission_card_coded_messages > .maq_mission-space-1 {
    left: 34%;
    top: 50%;
}

:is(#mission_card_coded_messages, #mission_card_bomb_for_the_officer) > :is(.maq_mission-space-2, .maq_mission-space-3) {
    display: none;
}

#mission_card_bomb_for_the_officer > .maq_mission-space-1 {
    left: 58%;
    top: 50%;
}

/* 3-star missions */

:is(#mission_card_milice_hq, #mission_card_bomb_the_barracks, #mission_card_free_the_resistance_leader, #mission_card_destroy_aa_guns) {
    height: 37.6vw;
}

@media (min-width: 995px) {
    :is(#mission_card_milice_hq, #mission_card_bomb_the_barracks, #mission_card_free_the_resistance_leader, #mission_card_destroy_aa_guns) {
        height: 25.6vw;
    }
}

@media (min-width: 1400px) {
    :is(#mission_card_milice_hq, #mission_card_bomb_the_barracks, #mission_card_free_the_resistance_leader, #mission_card_destroy_aa_guns) {
        height: 17.1vw;
    }
}

:is(#mission_card_milice_hq, #mission_card_bomb_the_barracks, #mission_card_free_the_resistance_leader, #mission_card_destroy_aa_guns) > .maq_mission-card-face {
    background-image: url('img/Mission_Cards_3star.jpg');
    background-size: 500%;
}

:is(#mission_card_milice_hq, #mission_card_bomb_the_barracks, #mission_card_free_the_resistance_leader, #mission_card_destroy_aa_guns) > .maq_mission-card-back {
    background-position-x: right;
}

#mission_card_milice_hq > .maq_mission-space {
    width: 25%;
    height: 10%;
}

#mission_card_milice_hq > :is(.maq_mission-space-1, .maq_mission-space-2) {
    top: 37%;
}

#mission_card_milice_hq > .maq_mission-space-1 {
    left: 45%;
}

#mission_card_milice_hq > .maq_mission-space-2 {
    left: 72%;
}

#mission_card_bomb_the_barracks > .maq_mission-card-front {
    background-position-x: 25%;
}

:is(#mission_card_bomb_the_barracks, #mission_card_free_the_resistance_leader) > .maq_mission-space {
    top: 37%;
    height: 10%;
}

#mission_card_bomb_the_barracks > :is(.maq_mission-space-1, .maq_mission-space-2) {
    width: 20%;
}

#mission_card_bomb_the_barracks > .maq_mission-space-1 {
    left: 7.6%;
}

#mission_card_bomb_the_barracks > .maq_mission-space-2 {
    left: 29.6%;
}

#mission_card_bomb_the_barracks > .maq_mission-space-3 {
    width: 25%;
    left: 51.6%;
}

#mission_card_free_the_resistance_leader > .maq_mission-card-front {
    background-position-x: 50%;
}

#mission_card_free_the_resistance_leader > .maq_mission-space-1 {
    left: 4%;
    width: 24%;
}

#mission_card_free_the_resistance_leader > .maq_mission-space-2 {
    left: 31%;
    width: 41%;
}

#mission_card_free_the_resistance_leader > .maq_mission-space-3 {
    display: none;
}

#mission_card_destroy_aa_guns > .maq_mission-card-front {
    background-position-x: 75%;
}

#mission_card_destroy_aa_guns > .maq_mission-space-1 {
    width: 25.6%;
    height: 10%;
    left: 4%;
    top: 36.6%;
}

#mission_card_destroy_aa_guns > :is(.maq_mission-space-2, .maq_mission-space-3) {
    display: none;
}

/* Patrol cards */

.maq_patrol-card {
    position: absolute;
}

.maq_patrol-card-front {
    background-image: url('img/Patrol_cards.jpg');
    background-size: 500%;
    background-repeat: no-repeat;
}

.maq_patrol-card-front, .maq_patrol-card-back {
    position: absolute;
    backface-visibility: hidden;
    border: none;
}

.maq_patrol-card-front {
    transform: rotateY(180deg);
}

.maq_patrol-card-back {
    background-image: url('img/Tracking_card_Patrol_back.jpg');
    background-size: 200%;
    background-position-x: right;
}

#patrol-1 > .maq_patrol-card-front {
    background-position-x: 49%;
}

#patrol-2 > .maq_patrol-card-front {
    background-position-x: 24%;
}

#patrol-3 > .maq_patrol-card-front {
    background-position-x: 0%;
}

#patrol-4 > .maq_patrol-card-front {
    background-position-x: 24%;
    background-position-y: 100%;
}

#patrol-5 > .maq_patrol-card-front {
    background-position-x: 0;
    background-position-y: 100%;
}

#patrol-6 > .maq_patrol-card-front {
    background-position-x: 99%;
}

#patrol-7 > .maq_patrol-card-front {
    background-position-x: 74%;
}

#patrol-8 > .maq_patrol-card-front {
    background-position-x: 99%;
    background-position-y: 100%;
}

#patrol-9 > .maq_patrol-card-front {
    background-position-x: 74%;
    background-position-y: 100%;
}

#patrol-10 > .maq_patrol-card-front {
    background-position-x: 49%;
    background-position-y: 100%;
}

/* Markers */

.maq_marker {
    width: 75%;
    aspect-ratio: 1;
    background-size: 700%;
    background-position-y: center;
    background-image: url('img/Markers.png');
    position: absolute;
    transition: transform 0.5s ease;
}

:is(.maq_morale-track-space, .maq_soldiers-track-space) {
    position: relative;
}

:is(.maq_round-number-space, .maq_morale-track-space, .maq_soldiers-track-space):hover > .maq_marker {
    transform: translateY(-30px);
}

@media (min-width: 1400px) {
    .maq_mission-space .maq_marker-mission {
        width: 100%;
    }
}

.maq_marker-mission {
    background-position: 64%;
}

 .maq_marker-mission {
    width: 40%;
}

/* Pawns */

.maq_worker {
    width: 50px;
    aspect-ratio: 1;
    background-size: 400%;
    background-image: url('img/Meeples.png');
    background-position-y: center;
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
}

@media (min-width: 1900px) {
    .maq_worker {
        width: 70px;
    }
}

:is(#resistance_1, #resistance_3, #resistance_5) {
    background-position-x: 0;
}

:is(#resistance_2, #resistance_4) {
    background-position-x: 33%;
}

.maq_milice {
    background-position-x: 67%;
}

.maq_soldier {
    background-position-x: 100%;
}

/* Pop-ups */

.standard_popin {
  aspect-ratio: 0.65;
  width: 20vw;
  padding: 10px;
}

@media (min-width: 1400px) {
    .standard_popin {
        width: 15vw;
        height: 18vw;
    }
}

.standard_popin_title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

#popin_one-card-dialog .patrol-card-front {
    width: 100%;
}

.maq_patrol-card-dialog-wrapper {
    display: flex;
    justify-content: center;
}

#popin_discarded-patrol-cards-dialog {
    box-sizing: border-box;
    width: 50vw;
    height: 168vw;
    max-width: 9999px;
}

@media (min-width: 995px) {
    #popin_discarded-patrol-cards-dialog {
        width: 70vw;
        height: 73vw;
    }
}

@media (min-width: 1400px) {
    #popin_discarded-patrol-cards-dialog {
        width: 58vw;
        height: 34vw;
    }
}

#popin_discarded-patrol-cards-dialog .maq_patrol-card {
    position: static;
}

#discarded-patrol-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 1vw;
    row-gap: 1vw;
}

/* Rooms */

.maq_room-tile-container {
    aspect-ratio: 1;
    width: 30%;
    position: relative
}

.maq_room-tile {
    position: absolute;
    aspect-ratio: 1;
    z-index: 0;
    background-image: url('img/Spare_rooms.png');
    background-size: 300%;
    display: flex;
    justify-content: center;
}

.maq_room-tile {
    width: 100%;
}

.maq_room-tile > :is(.maq_circle-shape, .maq_rectangle-shape) {
    position: absolute;
    border: 3px solid black;
}

.maq_room-tile > .maq_circle-shape {
    border-radius: 50%;
    width: 90%;
    height: 90%;
}

.maq_room-tile > .maq_rectangle-shape {
    background-image: url('img/Spare_rooms.png');
    background-size: 450%;
    background-position-x: 7.1%;
    background-position-y: 27.65%;
    width: 66%;
    height: 20%;
    border-top: none;
    bottom: 0;
}

#room-tile-room_counterfeiter {
    background-position-x: center;
}

:is(#room-tile-room_counterfeiter, #room-tile-room_smuggler, #room-tile-room_pharmacist) > .maq_rectangle-shape {
    background-position-x: 49.9%;
}

#room-tile-room_safe_house {
    background-position-x: right;
}

:is(#room-tile-room_safe_house, #room-tile-room_propagandist, #room-tile-room_forger) > .maq_rectangle-shape {
    background-position-x: 93%;
}

#room-tile-room_chemists_lab {
    background-position-y: center;
}

#room-tile-room_smuggler {
    background-position-y: center;
    background-position-x: center;
}

#room-tile-room_propagandist {
    background-position-y: center;
    background-position-x: right;
}

:is(#room-tile-room_chemists_lab, #room-tile-room_smuggler, #room-tile-room_propagandist) > .maq_rectangle-shape {
    background-position-y: 63.5%;
}

#room-tile-room_fixer {
    background-position-y: bottom;
}

#room-tile-room_pharmacist {
    background-position-y: bottom;
    background-position-x: center;
}

#room-tile-room_forger {
    background-position-y: bottom;
    background-position-x: right;
}

:is(#room-tile-room_fixer, #room-tile-room_pharmacist, #room-tile-room_forger ) > .maq_rectangle-shape {
    background-position-y: 99.25%;
}

/* Tokens */

.maq_token {
    width: 60px;
    height: 60px;
    background-image: url('img/Tokens.png');
    background-size: 300%;
    position: absolute;
}

.maq_token-circle {
    position: absolute;
    border-radius: 50%;
    border: 3px solid black;
    width: 90%;
    height: 90%;
}

.maq_food-token, #food-icon {
    background-position-y: center;
    background-position-x: -50%;
}

#medicine-icon {
    background-position-y: center;
    background-position-x: center;
}

.maq_money-token, #money-icon {
    background-position-y: top;
    background-position-x: -50%; 
}

.maq_weapon-token, #weapon-icon {
    background-position-y: top;
}

#explosives-icon {
    background-position-x: center;
    background-position-y: top;
}

#fake_id-icon {
    background-position-y: bottom;
    background-position-x: -50%;
}

#poison-icon {
    background-position-y: bottom;
    background-position-x: center;
}

.maq_fake-id-token {
    background-position: bottom right;
}

.maq_aa-gun-token {
    background-position-y: bottom;
    background-position-x: left; 
}